@import url(/css/contato.css);
@import url(/css/saibamais.css);

/*FONTE DOS TITULOS*/
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
/*FONTE DA NAVEGAÇÃO*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Tagesschrift&display=swap');
/*FONTE DOS TEXTOS*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');


/*VARIAVEIS*/
:root {
    --branco--: white;
    --preto--: black;
    --background-nav--: rgba(107, 102, 102, 0.582);
    --background-footer: #2c2929;   
    --azul--: blue;
    --azul-hover--: rgb(14, 14, 69);
    --background-placeholder--: rgba(0, 0, 0, 0.63);
    --vermelho--: red;
    --font-titulo--: "Cal Sans", sans-serif;
    --font-nav--:"Tagesschrift", 'system-ui';
    --font-texts--: "Playfair Display", serif;
}

.ancora{
    font-family: var(--font-nav--);
}

.logo{
    width: 250px;
}

body{
    margin: 0;
    background-image: url(/images/background.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    box-sizing: border-box;
}

section{
    margin-left: 5px;
}

nav{
    background-color: var(--background-nav--);
    padding: 1px 0px;
}

ul{
    list-style-type: none;
}

 li{
    display: inline; /*COLOCA OS ITENS EM LINHA (LADO A LADO)*/
}

a{
    text-decoration: none;
    color: var(--branco--);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 50px;
}


.h1title{
    margin-top: 60px;
    color: var(--branco--);
    text-align: center;
    font-family: var(--font-titulo--);
}

/*DISPOSIÇÃO DOS ITENS NA TELA*/
.assuntos-flex{ /*DISPOSIÇÃO DA FILEIRA*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.assuntosblock{ /*BLOCK DO NOME DA ASSUNTO + IMAGEM + BOTAO SAIBA MAIS*/
    display: block;
    margin: 0rem 80px;
    text-align: center;
}

h4{ /*NOME DO ASSUNTO*/
    margin: 0;
    color: var(--branco--);
    background-color: rgb(27, 25, 25);
    border-radius: 40%;
    padding: 5px;
}

.imagem{ /*IMAGENS DOS ASSUNTOS*/
    height: 200px;
}

.vscodeimg{
    height: 180px;
    margin-top: 20px;
}

.saibamaistext{ /* BOTAO SAIBA MAIS*/
    padding: 5px;
    margin: 0;
    background-color: var(--azul--);
    border-radius: 16px;
    color: var(--branco--);
}
.saibamais{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.saibamaistext:hover{
    background-color: var(--azul-hover--);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--branco--);
    background-color: var(--background-footer);
    text-align: center;
    padding: 10px 0;
}

.label-msg{
    color: var(--branco--);
}


