body{
    background: #949191;
}

nav{
    background-color: rgb(107, 102, 102);
    padding: 1px 0px;
}

ul{
    list-style-type: none;
}

 li{
    display: inline; /*COLOCA OS ITENS EM LINHA (LADO A LADO)*/
}

a{
    text-decoration: none;
    color: rgb(255, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 50px;
}
a:hover{
    color: black;
    text-decoration: underline;
}

.h1title{
    margin-top: 60px;
    color: white;
    text-align: center;
}

/*DISPOSIÇÃO DOS ITENS NA TELA*/
.assuntos-flex{ /*DISPOSIÇÃO DA FILEIRA*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.assuntosblock{ /*BLOCK DO NOME DA ASSUNTO + IMAGEM + BOTAO SAIBA MAIS*/
    display: block;
    margin: 0rem 80px;
    text-align: center;
}

h4{ /*NOME DO ASSUNTO*/
    margin: 0;
}

.imagem{ /*IMAGENS DOS ASSUNTOS*/
    height: 200px;
}

.vscodeimg{
    height: 180px;
    margin-top: 20px;
}

.saibamaistext{ /* BOTAO SAIBA MAIS*/
    margin: 0;
    background-color: blue;
    border-radius: 16px;
    color: white;
}
.saibamais{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.saibamais:hover{
    background-color: rgb(14, 14, 69);
}



